@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
  margin: 0;
  font-family: "Poppins"; 
  color: #333;
}

html {
  font-size: 62.5%;
}

.header {
  display: flex;
  background: #fff;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
  position: relative;
  z-index: 2;
  font-weight: 300;
}

.header .brand-logo {
  display: inline-flex;
  align-items: center;
}


.header .brand-logo img {
  width: 4rem;
}

.header .brand-logo p {
  background: green;
  color: #fff;
  font-size: 2rem;
  margin-left: .6rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header .user {
  display: flex;
  align-items: center;
  gap: .8rem;
}

.header .user>p>span {
  color: rgb(170, 234, 170);
  font-size: 14px;
}

.header .user>p>select{
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
}

.header .user .notification {
  position: relative;
}

.header .user .notification img {
  width: 1.6rem;
}

.header .user .notification small {
  position: absolute;
  top: -.6rem;
  right: -.7rem;
  background: red;
  padding:.2rem .4rem ;
  border-radius: 100%;
  font-size: .8rem;
  color: #fff;
}

aside {
  position: absolute;
  left: 0;
  top: 0;
  background: #579659;
  width: 22rem;
  min-height: 100vh;
  padding:9rem 1rem;
  color: #fff;
  font-weight: 300;
}

aside h1 {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 1rem;
  color: #fff;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside>ul>li {
  margin: .8rem 0;
  padding:1rem 2rem;
  width: 80%;
  font-size: 14px;
}

aside ul li span{
  display: flex;
  align-items: center;
  gap: .8rem;
  font-size: 1rem;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}

aside ul li span i {
  color: #fff;
  transition: .6s;
}

aside ul li.active {
  background-color: #82CD65;

}

aside ul li.active span i {
  transform: rotate(180deg);
}

aside ul li span img{
  width: 1.2rem;
}

aside ul li .dropdown {
  display: none;
  color: #fff;
  padding: .3rem 2rem;
  padding-right: 0;
}

aside ul li.active .dropdown {
  display: block;
}

aside ul li .dropdown li {
  color: #fff; 
  margin: .5rem 0;
  font-size: .8rem;
  padding: 1rem 1.6rem;
  cursor: pointer;
}

aside ul li .dropdown li:hover, aside ul li .dropdown li.active, aside ul li .dropdown li:focus {
  background: #579659;
  
}